{{##def.page_title = 'Stats' #}}

{{##def.content:
            <div class="large-6 columns">
                <table class="stats">
                    <tbody>
                        <tr>
                            <td>Users</td>
                            <td>{{=it.stats.users.count}}</td>
                        </tr>
                        <tr>
                            <td>Bets</td>
                            <td>{{=it.stats.plays.count }}</td>
                        </tr>
                        <tr>
                            <td>Bankroll</td>
                            <td>
                                {{#def.format: {n: it.stats.plays.total_bet - it.stats.plays.cashed_out - it.stats.plays.bonused + it.stats.bankroll_offset } }} satoshis
                            </td>
                        </tr>
                        <tr>
                            <td>Wagered</td>
                            <td>{{#def.format: {n: it.stats.plays.total_bet } }} satoshis</td>
                        </tr>
                        <tr>
                            <td>Return to player</td>
                            <td>{{#def.format: {n: (9 + it.stats.plays.cashed_out + it.stats.plays.bonused) } }} satoshis <small>(
                                {{= ((it.stats.plays.cashed_out + it.stats.plays.bonused) / it.stats.plays.total_bet * 100).toFixed(2) }}%
                                )</small></td>
                        </tr>
                        <tr>
                            <td>Profit</td>
                            <td>
                                {{#def.format: {n: it.stats.plays.total_bet - it.stats.plays.cashed_out - it.stats.plays.bonused  } }} satoshis
                                <small>(
                                    {{= ((it.stats.plays.total_bet - it.stats.plays.cashed_out - it.stats.plays.bonused ) / it.stats.plays.total_bet * 100).toFixed(2) }}%
                                    )</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <small>Generated {{! it.generated }}</small>
            </div>
 #}}

{{#def.include('./template/main_old')}}
